// ====================== IN VARIABLES
$f-weight-black: 900;
$f-weight-bold: 800;
$f-weight-regular: 500;
$f-weight-light: 400;

.f-weight-bl {
    font-weight: $f-weight-black;
}

.f-weight-bo {
    font-weight: $f-weight-bold;
}

.f-weight-r {
    font-weight: $f-weight-regular;
}
.f-weight-l {
    font-weight: $f-weight-light;
}



.f-weight-100 {
    font-weight: 100;
}
.f-weight-150 {
    font-weight: 150;
}
.f-weight-200 {
    font-weight: 200;
}
.f-weight-250 {
    font-weight: 250;
}
.f-weight-300 {
    font-weight: 300;
}
.f-weight-350 {
    font-weight: 350;
}
.f-weight-400 {
    font-weight: 400;
}
.f-weight-450 {
    font-weight: 450;
}
.f-weight-500 {
    font-weight: 500;
}
.f-weight-550 {
    font-weight: 550;
}
.f-weight-600 {
    font-weight: 600;
}
.f-weight-650 {
    font-weight: 650;
}
.f-weight-700 {
    font-weight: 700;
}
.f-weight-750 {
    font-weight: 750;
}
.f-weight-800 {
    font-weight: 800;
}
.f-weight-850 {
    font-weight: 850;
}
.f-weight-900 {
    font-weight: 900;
}
.f-weight-950 {
    font-weight: 950;
}
.f-weight-1000 {
    font-weight: 1000;
}
